/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 2, 2015, 8:53:45 AM
    Author     : Student
*/

body {
    margin: 0;
    padding: 0;
    border: 0;
}

#game-screen {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 2349px;
    
}





snake {
    height: 90px;
}

#gameOver, #playHUD{
    position: absolute;
    visibility: hidden;
    
}

h1, h2, h3 {
  font-family: 'Black Ops One', cursive;
  color: palevioletred;
  text-align: center;
  
}

.title {
   font-size: 40px;
   margin-bottom: 0px;
   margin-top: 0px;
}

#restartButton {
   border: 2px solid palevioletred; 
   border-radius: 10px;
}

#restartButton:hover {
    background-color: windowframe;
}


#scoreboard {
    margin: 0; 
}
