body {
    margin: 0;
    padding: 0;
    border: 0;
}

#game-screen {
    display: block;
    max-width: 100%;
    max-height: 100%;
    
}





snake {
    height: 90px;
    border: 2px solid green;
}

#gameOver, #playHUD{
    position: absolute;
    visibility: hidden;
    
}

h1, h2, h3 {
  font-family: 'Black Ops One', cursive;
  color: palevioletred;
  text-align: center;
  
}

.title {
   font-size: 40px;
   margin-bottom: 0px;
   margin-top: 0px;
}

#restartButton {
   border: 2px solid palevioletred; 
   border-radius: 10px;
}

#restartButton:hover {
    background-color: windowframe;
}


#scoreboard {
    margin: 0; 
}

#scoreboard1 {
    margin: 0;
}
